@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    overflow-x: hidden;
}

$black: black;
$white: #ffffff;
$fontColor: #808695;
$stroke: #D2CECEB2;
$navColor: #ffffff38;

/*button*/
.btn {
    margin-top: 0.5rem;
    background-color: transparent;
    text-transform: uppercase;
    transition: all 0.2s;
    min-width: 200px;
    font-family: Montserrat;
    font-size: 15px;
    letter-spacing: 3.375px;
    font-weight: 500;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 0;
}

/*Heading*/
h2 {
    // color: $white;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 5.9px;
    text-transform: uppercase;

    &::after {
        content: " ";
        position: absolute;
        display: block;
        min-width: 10%;
        bottom: -18px;
        height: 1px;
        background-color: $black;
        margin-bottom: 10px;
    }
}

/*sub heading*/
h3 {
    font-family: Montserrat;
    font-size: 42px;
    font-style: normal;
    font-weight: 300;
    line-height: 50.557px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    margin-top: 20px;
}




/*  horizonatal-text*/
.horizonatal-text {
    position: absolute;
    font-family: Inter;
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
    line-height: 81.22px;
    letter-spacing: 13.64px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px $stroke;
    transform: rotate(-90deg);
}

/* NAVBAR */

.navbar {
    z-index: 9;
    font-family: Raleway;

    .container {
        border-bottom: 1px solid $navColor;
        padding: 0 0 1rem 0;
    }

    .navbar-brand {
        filter: invert(2);
    }

    .navbar-nav {
        .nav-link {
            color: $white;
            margin: 0 2.5rem 0 0;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.72px;
        }

        & .nav-item:last-child {
            display: flex;
            align-items: center;

            .ri-phone-line {
                color: $white;
                width: 22px;
                position: relative;

                &::after {
                    content: " ";
                    position: absolute;
                    display: block;
                    width: 30px;
                    height: 30px;
                    border: 1px solid $white;
                    border-radius: 50%;
                    top: 50%;
                    left: 35%;
                    transform: translate(-50%, -50%);
                }
            }

            .call-us {
                margin-left: 10px;
                display: flex;
                flex-direction: column;

                span {
                    color: $white;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 12px;
                    letter-spacing: 1.38px;

                }

                .nav-link {
                    padding: 0;
                    letter-spacing: 1.44px;
                }
            }
        }

        .nav-item:last-child>.nav-link {
            margin: 0;
        }
    }
}


/*HERO-WRAPPER*/

.hero-wrapper {
    display: grid;
    place-items: center;
    text-align: center;
    margin-top: -10%;
    position: relative;
    text-transform: uppercase;
    color: $white;
    background: #000000a3;

    & * {
        grid-column: 1/-1;
        grid-row: 1/-1;
    }

    img {
        z-index: -1;
    }

    .hero-text {
        margin-top: 4%;

        span {
            font-size: 23px;
            font-weight: 300;
            letter-spacing: 6.785px;
        }

        h1 {
            font-size: 60px;
            font-weight: 300;
            padding: 10px 0;
            margin-bottom: 2%;
        }

        .btn {
            color: $white ;
            border: 1px solid $white;

            &:hover {
                background-color: $white;
                color: $black;
            }
        }
    }
}


/* LEADING WRAPPER*/

.leading-wrapper {
    position: relative;

    .silver-rectangle {
        width: 35%;
        height: 395px;
        flex-shrink: 0;
        background: #F1F1F1;
        z-index: -1;
        position: absolute;
    }


    .left-side-img {
        position: relative;
        min-height: 100dvh;

        img {
            position: absolute;
        }

        & img:first-child {
            top: 15%;
        }

        & img:nth-child(2) {
            bottom: -10%;
            right: 0;
        }

        & img:last-child {
            bottom: -10%;
        }
    }

    .right-section-text {
        margin-top: 17%;

        h2 {
            color: $black;
            position: relative;

            &::after {

                width: 15%;
                margin-bottom: 1.2%;
            }
        }

        h3 {
            color: $black;
        }

        p {
            color: $fontColor;
            font-family: Raleway;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 29px;
        }

        .btn {
            border: 1px solid $black;
            color: $black ;

            &:hover {
                background-color: $black;
                color: $white;
            }
        }
    }

    .horizonatal-text {
        right: -12%;
        top: 40%;
    }
}


/*dreamhouse wrapper*/
.your-dream-house-wrapper {
    padding-top: 10%;
    position: relative;

    h2 {

        color: $black;
        position: relative;
        padding-bottom: 5px;

        &::after {
            left: 43%;
        }
    }



    h3 {

        color: $black;

    }

    .card {
        overflow: hidden;
        z-index: 1;

        .card-img {
            transition: all 0.5s;
        }

        &:hover .card-img {
            transform: scale(1.2);
        }

        .card-img-overlay {
            bottom: 0;
            top: auto;
        }

        h4 {
            font-family: Montserrat;
            color: $white;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 21.475px;
            letter-spacing: 5px;
            text-transform: uppercase;
        }
    }

    .horizonatal-text {
        left: -12%;
        top: 65%;
    }


    .bottom-image {
        position: absolute;
        bottom: -40%;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .bottom-image img {
            width: 100%;
            height: 75%;
            object-fit: cover;
            z-index: -1;
        }
    }
}

/* REVIEW WRAPPER */

.review-wrapper {
    background: url("../img/reviewbg.png");
    background-size: cover;
    height: auto;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 10%;
    position: relative;


    h2 {

        color: $white;
        position: relative;
        margin-bottom: 2%;

        &::after {
            bottom: -24px;
            background-color: $white;
            left: 45%;
        }
    }

    h3 {
        color: $white;

    }



    .item {
        img {
            width: 30%;
            margin-left: 10%;
            z-index: 2;
            position: relative;
        }


        .card {
            margin-top: -15%;
            z-index: 1;
            text-align: left;
            border-radius: 0;
            position: relative;
            padding: 75px 15px 18px 15px;

            & p {
                color: $black;
                font-family: Raleway;
                font-size: 16px;
                font-style: italic;
                font-weight: 300;
                line-height: 30px;
                text-transform: capitalize;
            }

            img {
                position: absolute;
                width: 30%;
                right: 10%;
                top: 5%;
            }

            &:last-child span {
                color: $black;
                font-family: Raleway;
                font-size: 16px;
                font-style: italic;
                font-weight: 600;
                line-height: 30px;
                padding: 0;
                position: relative;

                &::after {
                    content: "";
                    width: 20px;
                    height: 2px;
                    background-color: $black;
                    display: block;
                    position: absolute;
                    left: 50%;
                    bottom: 13px;
                }
            }

        }

    }

    .owl-nav {
        display: block !important;

        .owl-prev {
            position: absolute;
            top: 50%;
            left: -6%;
            color: $white !important;
            font-size: 60px !important;
        }

        .owl-next {
            position: absolute;
            top: 50%;
            right: -6%;
            color: $white !important;
            font-size: 60px !important;
        }
    }

    .horizonatal-text {

        right: -20%;
        top: 40%;

        -webkit-text-stroke: 1px #D2CECE1A;
    }
}

/* we are social */
.social-wrapper {
    background: url('../img/socialbg.png');
    height: auto;
    text-align: center;
    position: relative;
    padding: 5rem;

    h3 {
        padding-bottom: 3rem;
        color: $black;
    }

    .horizonatal-text {
        left: -8%;
        top: 50%;
    }

    .col-3 {
        margin-top: 1.5rem;
    }

    img {
        cursor: pointer;
    }
}

/* footer */
.footer-wrapper {
    display: grid;
    background: $black;
    color: $white;
    place-items: center;
    justify-content: center;
    background-image: url("/img/formbg.png");
    background-repeat: no-repeat;
    background-position: right;

    &>* {
        grid-row: 1/-1;
        grid-column: 1/-1;
    }

    img {
        object-fit: cover;
        z-index: 1;
    }

    .container {
        z-index: 2;

        h3 {


            line-height: 49.927px;
        }

        span {

            font-family: Raleway;
            font-size: 17px;
            font-style: normal;
            font-weight: 300;
            line-height: 27px;
        }

        .contact-info {
            list-style: none;
            padding: 0;

            li {
                margin-top: 15px;

                a {
                    color: #FFF;
                    font-family: Raleway;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 27px;
                    text-decoration: none;

                    .fa-solid {
                        margin-right: 2%;
                        padding-top: 10px;
                        text-align: center;
                        width: 40px;
                        height: 40px;
                        border: 1px solid $white;
                        border-radius: 50%;
                        align-items: center;
                    }

                    img {
                        margin-right: 3%;
                    }
                }
            }
        }

        .social-links {
            list-style: none;
            padding: 0;

            li {
                display: inline-block;
                margin: 8px;

            }
        }


        .card {
            padding: 5% 1rem 6% 1rem;
            box-shadow: 0px 3.62803px 67.1186px 0px #91a2ac82;
            border-radius: 0;

            .form-control {
                border: 0;
                border-bottom: 1px solid #d0d0d0;
                border-radius: 0;
                margin: 0px 0 15px 0;

                &:focus {
                    box-shadow: 0 0;
                }
            }

            input {
                &::placeholder {
                    color: #676970;
                    font-family: Raleway;
                    font-size: 15px;
                    font-weight: 300;
                    line-height: 27px;
                }
            }

            input[type="submit"] {
                background: $black;
                color: $white;
                text-align: center;
                width: 100%;
                outline: none;
                border: none;
                padding: 3%;
                font-family: Montserrat;
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 4.425px;
                text-transform: uppercase;
            }

            textarea {
                resize: none;
            }

        }

        .copyright-section {
            margin-top: 5%;
            margin-bottom: -14%;

            text-align: center;
            text-transform: uppercase;

            span {
                color: #6A6B70;

                a {
                    text-decoration: none;
                    color: #6A6B70;
                }
            }
        }
    }
}

/*MODAL*/
.modal-body {
    height: 400px;

    iframe {
        width: 100%;
        height: 100%;
    }
}