@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  overflow-x: hidden;
}

/*button*/
.btn {
  margin-top: 0.5rem;
  background-color: transparent;
  text-transform: uppercase;
  transition: all 0.2s;
  min-width: 200px;
  font-family: Montserrat;
  font-size: 15px;
  letter-spacing: 3.375px;
  font-weight: 500;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 0;
}

/*Heading*/
h2 {
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 5.9px;
  text-transform: uppercase;
}
h2::after {
  content: " ";
  position: absolute;
  display: block;
  min-width: 10%;
  bottom: -18px;
  height: 1px;
  background-color: black;
  margin-bottom: 10px;
}

/*sub heading*/
h3 {
  font-family: Montserrat;
  font-size: 42px;
  font-style: normal;
  font-weight: 300;
  line-height: 50.557px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
  margin-top: 20px;
}

/*  horizonatal-text*/
.horizonatal-text {
  position: absolute;
  font-family: Inter;
  font-size: 62px;
  font-style: normal;
  font-weight: 700;
  line-height: 81.22px;
  letter-spacing: 13.64px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(210, 206, 206, 0.6980392157);
  transform: rotate(-90deg);
}

/* NAVBAR */
.navbar {
  z-index: 9;
  font-family: Raleway;
}
.navbar .container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2196078431);
  padding: 0 0 1rem 0;
}
.navbar .navbar-brand {
  filter: invert(2);
}
.navbar .navbar-nav .nav-link {
  color: #ffffff;
  margin: 0 2.5rem 0 0;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.72px;
}
.navbar .navbar-nav .nav-item:last-child {
  display: flex;
  align-items: center;
}
.navbar .navbar-nav .nav-item:last-child .ri-phone-line {
  color: #ffffff;
  width: 22px;
  position: relative;
}
.navbar .navbar-nav .nav-item:last-child .ri-phone-line::after {
  content: " ";
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
}
.navbar .navbar-nav .nav-item:last-child .call-us {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.navbar .navbar-nav .nav-item:last-child .call-us span {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.38px;
}
.navbar .navbar-nav .nav-item:last-child .call-us .nav-link {
  padding: 0;
  letter-spacing: 1.44px;
}
.navbar .navbar-nav .nav-item:last-child > .nav-link {
  margin: 0;
}

/*HERO-WRAPPER*/
.hero-wrapper {
  display: grid;
  place-items: center;
  text-align: center;
  margin-top: -10%;
  position: relative;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.6392156863);
}
.hero-wrapper * {
  grid-column: 1/-1;
  grid-row: 1/-1;
}
.hero-wrapper img {
  z-index: -1;
}
.hero-wrapper .hero-text {
  margin-top: 4%;
}
.hero-wrapper .hero-text span {
  font-size: 23px;
  font-weight: 300;
  letter-spacing: 6.785px;
}
.hero-wrapper .hero-text h1 {
  font-size: 60px;
  font-weight: 300;
  padding: 10px 0;
  margin-bottom: 2%;
}
.hero-wrapper .hero-text .btn {
  color: #ffffff;
  border: 1px solid #ffffff;
}
.hero-wrapper .hero-text .btn:hover {
  background-color: #ffffff;
  color: black;
}

/* LEADING WRAPPER*/
.leading-wrapper {
  position: relative;
}
.leading-wrapper .silver-rectangle {
  width: 35%;
  height: 395px;
  flex-shrink: 0;
  background: #F1F1F1;
  z-index: -1;
  position: absolute;
}
.leading-wrapper .left-side-img {
  position: relative;
  min-height: 100dvh;
}
.leading-wrapper .left-side-img img {
  position: absolute;
}
.leading-wrapper .left-side-img img:first-child {
  top: 15%;
}
.leading-wrapper .left-side-img img:nth-child(2) {
  bottom: -10%;
  right: 0;
}
.leading-wrapper .left-side-img img:last-child {
  bottom: -10%;
}
.leading-wrapper .right-section-text {
  margin-top: 17%;
}
.leading-wrapper .right-section-text h2 {
  color: black;
  position: relative;
}
.leading-wrapper .right-section-text h2::after {
  width: 15%;
  margin-bottom: 1.2%;
}
.leading-wrapper .right-section-text h3 {
  color: black;
}
.leading-wrapper .right-section-text p {
  color: #808695;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
}
.leading-wrapper .right-section-text .btn {
  border: 1px solid black;
  color: black;
}
.leading-wrapper .right-section-text .btn:hover {
  background-color: black;
  color: #ffffff;
}
.leading-wrapper .horizonatal-text {
  right: -12%;
  top: 40%;
}

/*dreamhouse wrapper*/
.your-dream-house-wrapper {
  padding-top: 10%;
  position: relative;
}
.your-dream-house-wrapper h2 {
  color: black;
  position: relative;
  padding-bottom: 5px;
}
.your-dream-house-wrapper h2::after {
  left: 43%;
}
.your-dream-house-wrapper h3 {
  color: black;
}
.your-dream-house-wrapper .card {
  overflow: hidden;
  z-index: 1;
}
.your-dream-house-wrapper .card .card-img {
  transition: all 0.5s;
}
.your-dream-house-wrapper .card:hover .card-img {
  transform: scale(1.2);
}
.your-dream-house-wrapper .card .card-img-overlay {
  bottom: 0;
  top: auto;
}
.your-dream-house-wrapper .card h4 {
  font-family: Montserrat;
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.475px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.your-dream-house-wrapper .horizonatal-text {
  left: -12%;
  top: 65%;
}
.your-dream-house-wrapper .bottom-image {
  position: absolute;
  bottom: -40%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.your-dream-house-wrapper .bottom-image .bottom-image img {
  width: 100%;
  height: 75%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

/* REVIEW WRAPPER */
.review-wrapper {
  background: url("../img/reviewbg.png");
  background-size: cover;
  height: auto;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin-top: 5%;
  padding-top: 5%;
  padding-bottom: 10%;
  position: relative;
}
.review-wrapper h2 {
  color: #ffffff;
  position: relative;
  margin-bottom: 2%;
}
.review-wrapper h2::after {
  bottom: -24px;
  background-color: #ffffff;
  left: 45%;
}
.review-wrapper h3 {
  color: #ffffff;
}
.review-wrapper .item img {
  width: 30%;
  margin-left: 10%;
  z-index: 2;
  position: relative;
}
.review-wrapper .item .card {
  margin-top: -15%;
  z-index: 1;
  text-align: left;
  border-radius: 0;
  position: relative;
  padding: 75px 15px 18px 15px;
}
.review-wrapper .item .card p {
  color: black;
  font-family: Raleway;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 30px;
  text-transform: capitalize;
}
.review-wrapper .item .card img {
  position: absolute;
  width: 30%;
  right: 10%;
  top: 5%;
}
.review-wrapper .item .card:last-child span {
  color: black;
  font-family: Raleway;
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  line-height: 30px;
  padding: 0;
  position: relative;
}
.review-wrapper .item .card:last-child span::after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: black;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 13px;
}
.review-wrapper .owl-nav {
  display: block !important;
}
.review-wrapper .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: -6%;
  color: #ffffff !important;
  font-size: 60px !important;
}
.review-wrapper .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  right: -6%;
  color: #ffffff !important;
  font-size: 60px !important;
}
.review-wrapper .horizonatal-text {
  right: -20%;
  top: 40%;
  -webkit-text-stroke: 1px rgba(210, 206, 206, 0.1019607843);
}

/* we are social */
.social-wrapper {
  background: url("../img/socialbg.png");
  height: auto;
  text-align: center;
  position: relative;
  padding: 5rem;
}
.social-wrapper h3 {
  padding-bottom: 3rem;
  color: black;
}
.social-wrapper .horizonatal-text {
  left: -8%;
  top: 50%;
}
.social-wrapper .col-3 {
  margin-top: 1.5rem;
}
.social-wrapper img {
  cursor: pointer;
}

/* footer */
.footer-wrapper {
  display: grid;
  background: black;
  color: #ffffff;
  place-items: center;
  justify-content: center;
  background-image: url("/img/formbg.png");
  background-repeat: no-repeat;
  background-position: right;
}
.footer-wrapper > * {
  grid-row: 1/-1;
  grid-column: 1/-1;
}
.footer-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.footer-wrapper .container {
  z-index: 2;
}
.footer-wrapper .container h3 {
  line-height: 49.927px;
}
.footer-wrapper .container span {
  font-family: Raleway;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
}
.footer-wrapper .container .contact-info {
  list-style: none;
  padding: 0;
}
.footer-wrapper .container .contact-info li {
  margin-top: 15px;
}
.footer-wrapper .container .contact-info li a {
  color: #FFF;
  font-family: Raleway;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
  text-decoration: none;
}
.footer-wrapper .container .contact-info li a .fa-solid {
  margin-right: 2%;
  padding-top: 10px;
  text-align: center;
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  align-items: center;
}
.footer-wrapper .container .contact-info li a img {
  margin-right: 3%;
}
.footer-wrapper .container .social-links {
  list-style: none;
  padding: 0;
}
.footer-wrapper .container .social-links li {
  display: inline-block;
  margin: 8px;
}
.footer-wrapper .container .card {
  padding: 5% 1rem 6% 1rem;
  box-shadow: 0px 3.62803px 67.1186px 0px rgba(145, 162, 172, 0.5098039216);
  border-radius: 0;
}
.footer-wrapper .container .card .form-control {
  border: 0;
  border-bottom: 1px solid #d0d0d0;
  border-radius: 0;
  margin: 0px 0 15px 0;
}
.footer-wrapper .container .card .form-control:focus {
  box-shadow: 0 0;
}
.footer-wrapper .container .card input::-moz-placeholder {
  color: #676970;
  font-family: Raleway;
  font-size: 15px;
  font-weight: 300;
  line-height: 27px;
}
.footer-wrapper .container .card input::placeholder {
  color: #676970;
  font-family: Raleway;
  font-size: 15px;
  font-weight: 300;
  line-height: 27px;
}
.footer-wrapper .container .card input[type=submit] {
  background: black;
  color: #ffffff;
  text-align: center;
  width: 100%;
  outline: none;
  border: none;
  padding: 3%;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 4.425px;
  text-transform: uppercase;
}
.footer-wrapper .container .card textarea {
  resize: none;
}
.footer-wrapper .container .copyright-section {
  margin-top: 5%;
  margin-bottom: -14%;
  text-align: center;
  text-transform: uppercase;
}
.footer-wrapper .container .copyright-section span {
  color: #6A6B70;
}
.footer-wrapper .container .copyright-section span a {
  text-decoration: none;
  color: #6A6B70;
}

/*MODAL*/
.modal-body {
  height: 400px;
}
.modal-body iframe {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=style.css.map */