@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  overflow-x: hidden;
}

/*button*/
button {
  padding: 10px 25px;
  font-family: Montserrat;
  border: transparent;
  font-size: 15px;
  letter-spacing: 3.375px;
}

.navbar {
  z-index: 9;
  font-family: Raleway;
}
.navbar .container {
  border-bottom: 1px solid rgb(143, 143, 143);
  padding: 0 0 1rem 0;
}
.navbar .navbar-brand {
  filter: invert(2);
}
.navbar .navbar-nav .nav-link {
  color: #ffffff;
  margin: 0 2.5rem 0 0;
}
.navbar .navbar-nav .nav-link .call-us {
  text-transform: uppercase;
  font-weight: 600;
}
.navbar .navbar-nav .nav-link .phone-icon {
  margin: 0 15px;
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
.navbar .navbar-nav .nav-link .phone-icon img {
  filter: invert(1);
  width: 22px;
  margin-top: 0.5em;
}
.navbar .navbar-nav .nav-item:last-child > .nav-link {
  margin: 0;
}

/*Hero-section*/
.hero-section {
  display: grid;
  place-items: center;
  text-align: center;
  margin-top: -10%;
  position: relative;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.64);
}
.hero-section * {
  grid-column: 1/-1;
  grid-row: 1/-1;
}
.hero-section img {
  z-index: -1;
}
.hero-section p {
  color: #FFF;
  text-align: center;
  font-size: 23px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 6.785px;
}
.hero-section h1 {
  font-size: 60px;
  font-weight: 300;
  padding: 10px 0;
}
.hero-section button {
  margin-top: 0.5rem;
  background-color: transparent;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  transition: all 0.2s;
  color: #ffffff;
}
.hero-section button:hover {
  background-color: #ffffff;
  color: black;
}

/*lead section*/
.leading-section {
  position: relative;
}
.leading-section .silver-rectangle {
  width: 35%;
  height: 395px;
  flex-shrink: 0;
  background: #F1F1F1;
  z-index: -1;
  position: absolute;
}
.leading-section .left-side-img {
  position: relative;
  min-height: 100vh;
  min-height: 100dvh;
}
.leading-section .left-side-img img {
  position: absolute;
}
.leading-section .left-side-img img:first-child {
  top: 15%;
}
.leading-section .left-side-img img:nth-child(2) {
  bottom: -10%;
  right: 0;
}
.leading-section .left-side-img img:last-child {
  bottom: -10%;
}
.leading-section .right-section-text {
  margin-top: 17%;
}
.leading-section .right-section-text p:first-child {
  text-transform: uppercase;
  color: black;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 5.9px;
  text-transform: uppercase;
}
.leading-section .right-section-text .underline {
  width: 15%;
  height: 1px;
  background-color: black;
  margin-bottom: 10px;
}
.leading-section .right-section-text h2 {
  color: black;
  font-size: 42px;
  font-weight: 300;
  line-height: 55.02px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}
.leading-section .right-section-text p {
  color: #808695;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
}
.leading-section .right-section-text a {
  border: 1px solid black;
  text-transform: uppercase;
  transition: all 0.2s;
  color: black;
  padding: 10px 15px;
  text-align: center;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.3px;
  text-decoration: none;
  margin-top: 1rem;
  display: inline-block;
}
.leading-section .right-section-text a:hover {
  background-color: black;
  color: #ffffff;
}
.leading-section .horizonatal-text {
  position: absolute;
  right: -12%;
  top: 40%;
  transform: rotate(-90deg);
  font-family: Inter;
  font-size: 62px;
  font-style: normal;
  font-weight: 700;
  line-height: 81.22px;
  letter-spacing: 13.64px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(210, 206, 206, 0.6980392157);
}

/*dreamhouse wrapper*/
.your-dream-house-wrapper {
  padding-top: 10%;
  position: relative;
}
.your-dream-house-wrapper p {
  color: black;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 5.9px;
  text-transform: uppercase;
}
.your-dream-house-wrapper .underline {
  margin: 0 auto;
  width: 10%;
  height: 1px;
  background-color: black;
  margin-bottom: 10px;
}
.your-dream-house-wrapper h3 {
  color: black;
  font-size: 42px;
  font-style: normal;
  font-weight: 300;
  line-height: 50.557px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}
.your-dream-house-wrapper .card {
  overflow: hidden;
  z-index: 1;
}
.your-dream-house-wrapper .card .card-img {
  transition: all 0.5s;
}
.your-dream-house-wrapper .card:hover .card-img {
  transform: scale(1.2);
}
.your-dream-house-wrapper .card .card-img-overlay {
  bottom: 0;
  top: auto;
}
.your-dream-house-wrapper .card p {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.475px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.your-dream-house-wrapper .horizonatal-text {
  position: absolute;
  left: -12%;
  top: 65%;
  transform: rotate(-90deg);
  font-family: Inter;
  font-size: 62px;
  font-style: normal;
  font-weight: 700;
  line-height: 81.22px;
  letter-spacing: 13.64px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(210, 206, 206, 0.6980392157);
}
.your-dream-house-wrapper .bottom-image {
  position: absolute;
  bottom: -40%;
  width: 100%;
  height: 100%; /* Adjust as needed */
  overflow: hidden;
}
.your-dream-house-wrapper .bottom-image img {
  width: 100%;
  height: 75%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

/*review*/
.review-wrapper {
  display: grid;
  place-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.review-wrapper * {
  grid-row: 1/-1;
  grid-column: 1/-1;
}
.review-wrapper img {
  z-index: -1;
}/*# sourceMappingURL=style.css.map */