@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
}

$black: black;
$white: #ffffff;

/*button*/
button {
    padding: 10px 25px;
    font-family: Montserrat;
    border: transparent;
    font-size: 15px;
    letter-spacing: 3.375px;
}

//* navbar */
.navbar {
    z-index: 9;
    font-family: Raleway;

    .container {
        border-bottom: 1px solid rgb(143, 143, 143);
        padding: 0 0 1rem 0;
    }

    .navbar-brand {
        filter: invert(2);
    }

    .navbar-nav {
        .nav-link {
            color: $white;
            margin: 0 2.5rem 0 0;
.call-us{
    text-transform: uppercase;
    font-weight: 600;
}
            .phone-icon {
                margin: 0 15px;
                width: 40px;
                height: 40px;
                text-align: center;
                border: 1px solid $white;
                border-radius: 50%;

                img {
                    filter: invert(1);
                    width: 22px;
                    margin-top: 0.5em;

                }

            }

        }

        .nav-item:last-child>.nav-link {
            margin: 0;
        }
    }
}


/*Hero-section*/
.hero-section {
    display: grid;
    place-items: center;
    text-align: center;
    margin-top: -10%;
    text-transform: uppercase;
    color: $white;
    position: absolute;
    background: rgba(0, 0, 0, 0.64);

    & * {
        grid-column: 1/-1;
        grid-row: 1/-1;
    }

    img {
        z-index: -1;
    }

    p {

        color: #FFF;
        text-align: center;
        font-size: 23px;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 6.785px;
    }

    h1 {
        font-size: 60px;
        font-weight: 300;
        padding: 10px 0;
    }

    button {
        margin-top: 0.5rem;
        background-color: transparent;
        border: 1px solid $white;
        text-transform: uppercase;
        transition: all 0.2s;
        color: $white ;




        &:hover {
            background-color: $white;
            color: $black;
        }
    }
}